<a href="https://colab.research.google.com/github/Laxmi884/EDA_IMDB_DataSet/blob/main/EDA_on_IMDB_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [69]:
#Import package
import pandas as pd
import numpy as np

In [70]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [71]:
imdb_df = pd.read_csv("/content/drive/MyDrive/Datasets/Copy of imdb_data.csv")

In [72]:
imdb_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [73]:
imdb_df.loc[0,'crew']

'[{\'credit_id\': \'59ac067c92514107af02c8c8\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1449071, \'job\': \'First Assistant Director\', \'name\': \'Kelly Cantley\', \'profile_path\': None}, {\'credit_id\': \'52fe4ee7c3a36847f82afad7\', \'department\': \'Directing\', \'gender\': 2, \'id\': 3227, \'job\': \'Director\', \'name\': \'Steve Pink\', \'profile_path\': \'/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg\'}, {\'credit_id\': \'5524ed25c3a3687ded000d88\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Writer\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed2d925141720c001128\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Characters\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed3d92514166c1004a5d\', \'department\': \'Production\', \'gender\': 2, \'id\': 57822, \'job\': \'Producer\', \'name\': \'Andrew Panay\', \'profile_path\': None}, {\'credit_id\': \'5524ed4bc3a3687df3000dd2\', \'department\': \'Production\', \'gender\': 0, \'id\': 1451395, \'job\': \'Associate Producer\', \'name\': \'Adam Blum\', \'profile_path\': None}, {\'credit_id\': \'5524ed5a925141720c00112c\', \'department\': \'Production\', \'gender\': 2, \'id\': 52997, \'job\': \'Executive Producer\', \'name\': \'Rob Corddry\', \'profile_path\': \'/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg\'}, {\'credit_id\': \'5524ed85c3a3687e0e000f56\', \'department\': \'Production\', \'gender\': 0, \'id\': 62807, \'job\': \'Executive Producer\', \'name\': \'Ben Ormand\', \'profile_path\': None}, {\'credit_id\': \'5524ed9fc3a3687e0e000f59\', \'department\': \'Sound\', \'gender\': 2, \'id\': 23486, \'job\': \'Original Music Composer\', \'name\': \'Christophe Beck\', \'profile_path\': \'/2fnJUmCk6IEpVIptpYaUk31epHx.jpg\'}, {\'credit_id\': \'5524eda6c3a3687e03000d28\', \'department\': \'Camera\', \'gender\': 2, \'id\': 6117, \'job\': \'Director of Photography\', \'name\': \'Declan Quinn\', \'profile_path\': None}, {\'credit_id\': \'5524edb4925141720c00113d\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1451396, \'job\': \'Editor\', \'name\': \'Jamie Gross\', \'profile_path\': None}, {\'credit_id\': \'5524edc1925141727600102e\', \'department\': \'Production\', \'gender\': 0, \'id\': 22219, \'job\': \'Casting\', \'name\': \'Susie Farris\', \'profile_path\': None}, {\'credit_id\': \'5524edd192514171cb008257\', \'department\': \'Art\', \'gender\': 0, \'id\': 1002643, \'job\': \'Production Design\', \'name\': \'Ryan Berg\', \'profile_path\': None}, {\'credit_id\': \'555ad9be9251411e5b00d485\', \'department\': \'Production\', \'gender\': 2, \'id\': 57431, \'job\': \'Executive Producer\', \'name\': \'Matt Moore\', \'profile_path\': None}, {\'credit_id\': \'5677e93bc3a36816890087dc\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1551818, \'job\': \'Script Supervisor\', \'name\': \'Nicole Garcea\', \'profile_path\': None}, {\'credit_id\': \'5677e96a92514179e10093d0\', \'department\': \'Production\', \'gender\': 0, \'id\': 1551819, \'job\': \'Production Coordinator\', \'name\': \'Jason Salzman\', \'profile_path\': None}, {\'credit_id\': \'5677e98492514179d2008cd9\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1422996, \'job\': \'Costume Design\', \'name\': \'Carol Cutshall\', \'profile_path\': None}, {\'credit_id\': \'5677e9d5c3a368168e009414\', \'department\': \'Art\', \'gender\': 2, \'id\': 500199, \'job\': \'Set Decoration\', \'name\': \'Tim Cohn\', \'profile_path\': None}, {\'credit_id\': \'5677f89d9251417845001a61\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1527917, \'job\': \'Hair Department Head\', \'name\': \'Voni Hinkle\', \'profile_path\': None}, {\'credit_id\': \'5677f8b392514179dd0089fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431554, \'job\': \'Makeup Department Head\', \'name\': \'Remi Savva\', \'profile_path\': None}, {\'credit_id\': \'5677f8d1c3a3681689008a4b\', \'department\': \'Art\', \'gender\': 0, \'id\': 66495, \'job\': \'Art Direction\', \'name\': \'Jason Baldwin Stewart\', \'profile_path\': None}, {\'credit_id\': \'5677f8eec3a3681685008dd5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1412466, \'job\': \'Production Supervisor\', \'name\': \'Korey Budd\', \'profile_path\': None}, {\'credit_id\': \'5677f90a9251417845001a7d\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1401562, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary C. Bourgeois\', \'profile_path\': None}, {\'credit_id\': \'5677f91e9251417845001a84\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1396794, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gabriel J. Serrano\', \'profile_path\': None}, {\'credit_id\': \'5677f938c3a3681680008dd4\', \'department\': \'Editing\', \'gender\': 0, \'id\': 13168, \'job\': \'Dialogue Editor\', \'name\': \'Victoria Rose Sampson\', \'profile_path\': None}, {\'credit_id\': \'5677f94e92514179dd008a1f\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551839, \'job\': \'Production Sound Mixer\', \'name\': \'Michael B. Koff\', \'profile_path\': None}, {\'credit_id\': \'5677f968c3a368168e009698\', \'department\': \'Sound\', \'gender\': 0, \'id\': 113052, \'job\': \'Sound Effects Editor\', \'name\': \'Randall Guth\', \'profile_path\': None}, {\'credit_id\': \'5677f98dc3a3681685008e02\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1442535, \'job\': \'Stunt Coordinator\', \'name\': \'Chuck Picerni Jr.\', \'profile_path\': \'/yE5QtXUzcrnCzMRctZL8F5g842B.jpg\'}, {\'credit_id\': \'5677f9a692514179dd008a49\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1437305, \'job\': \'Camera Operator\', \'name\': \'Michael Applebaum\', \'profile_path\': None}, {\'credit_id\': \'5677f9bd9251417845001aae\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1401765, \'job\': \'Still Photographer\', \'name\': \'Steve Dietl\', \'profile_path\': None}, {\'credit_id\': \'5677f9e592514179e7008bf7\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402721, \'job\': \'Rigging Gaffer\', \'name\': \'Tarik Naim Alherimi\', \'profile_path\': None}, {\'credit_id\': \'5677f9f4c3a368167c0090ed\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402719, \'job\': \'Gaffer\', \'name\': \'Paul Olinde\', \'profile_path\': None}, {\'credit_id\': \'5677fa21c3a368168e0096ca\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Supervisor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa31c3a3681680008e04\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551841, \'job\': \'Music Editor\', \'name\': \'Matt Fausak\', \'profile_path\': None}, {\'credit_id\': \'5677fa4392514179dd008a76\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Editor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa609251417845001acf\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1403416, \'job\': \'Costume Supervisor\', \'name\': \'Shonta T. McCray\', \'profile_path\': None}, {\'credit_id\': \'5677fa8492514179d2008fb3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1425831, \'job\': \'Steadicam Operator\', \'name\': \'Mark Karavite\', \'profile_path\': None}, {\'credit_id\': \'5677fab2c3a3681689008ac3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1551842, \'job\': \'First Assistant Camera\', \'name\': \'Joe Waistell\', \'profile_path\': None}, {\'credit_id\': \'5677faecc3a368168e0096fe\', \'department\': \'Sound\', \'gender\': 0, \'id\': 58362, \'job\': \'Supervising Sound Editor\', \'name\': \'Michael Hilkene\', \'profile_path\': None}, {\'credit_id\': \'59ac0368c3a3682c0a02c484\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1881584, \'job\': \'Additional Writing\', \'name\': \'John Karnay\', \'profile_path\': None}, {\'credit_id\': \'59ac0411c3a3682bf0028966\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431552, \'job\': \'Hairstylist\', \'name\': \'Daina Daigle\', \'profile_path\': None}, {\'credit_id\': \'59ac0504925141072302b8fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1712001, \'job\': \'Makeup Artist\', \'name\': \'Allison Gordin\', \'profile_path\': None}, {\'credit_id\': \'59ac0570c3a3682bf0028aac\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 578725, \'job\': \'Makeup Artist\', \'name\': \'Darryl Lucas\', \'profile_path\': None}, {\'credit_id\': \'59ac05a4925141077e02c97e\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463274, \'job\': \'Makeup Artist\', \'name\': \'Annabelle MacNeal\', \'profile_path\': None}, {\'credit_id\': \'59ac05c6925141076502d106\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881586, \'job\': \'Makeup Artist\', \'name\': \'Marina Savva\', \'profile_path\': None}, {\'credit_id\': \'59ac0615c3a3682c480296aa\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1406267, \'job\': \'Hairstylist\', \'name\': \'Carl G. Variste\', \'profile_path\': None}, {\'credit_id\': \'59ac06ba925141076502d1fa\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1798593, \'job\': \'First Assistant Director\', \'name\': \'Josh King\', \'profile_path\': None}, {\'credit_id\': \'59ac06f1c3a3682c2202aca0\', \'department\': \'Art\', \'gender\': 0, \'id\': 1415083, \'job\': \'Greensman\', \'name\': \'Scott C. Bivona\', \'profile_path\': None}, {\'credit_id\': \'59ac072c925141076502d260\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881587, \'job\': \'Title Designer\', \'name\': \'Eunha Choi\', \'profile_path\': None}, {\'credit_id\': \'59ac077c925141077e02cb62\', \'department\': \'Art\', \'gender\': 0, \'id\': 1585302, \'job\': \'Construction Coordinator\', \'name\': \'Daniel Coe\', \'profile_path\': None}, {\'credit_id\': \'59ac07e0925141078a02d842\', \'department\': \'Art\', \'gender\': 0, \'id\': 1495523, \'job\': \'Set Designer\', \'name\': \'Spencer Davison\', \'profile_path\': None}, {\'credit_id\': \'59ac0862925141072f02cf6f\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881589, \'job\': \'Painter\', \'name\': \'Sonia L. Garcia\', \'profile_path\': None}, {\'credit_id\': \'59ac08e0c3a3682bf0028e51\', \'department\': \'Art\', \'gender\': 0, \'id\': 1424896, \'job\': \'Art Department Coordinator\', \'name\': \'Caleb Guillotte\', \'profile_path\': None}, {\'credit_id\': \'59ac0920c3a3682c2202af36\', \'department\': \'Art\', \'gender\': 0, \'id\': 1393375, \'job\': \'Leadman\', \'name\': "Pat A. O\'Connor", \'profile_path\': None}, {\'credit_id\': \'59ac095592514107af02cc39\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881592, \'job\': \'Set Designer\', \'name\': \'Brendan Turrill\', \'profile_path\': None}, {\'credit_id\': \'59ac0989925141072302bdfa\', \'department\': \'Art\', \'gender\': 2, \'id\': 76497, \'job\': \'Property Master\', \'name\': \'Brook Yeaton\', \'profile_path\': None}, {\'credit_id\': \'59ac0a2cc3a3682c9c02add1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1881596, \'job\': \'Boom Operator\', \'name\': \'Matthew Armstrong\', \'profile_path\': None}, {\'credit_id\': \'59ac0aa8925141072f02d282\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 1558086, \'job\': \'Special Effects Supervisor\', \'name\': \'Matt Kutcher\', \'profile_path\': None}, {\'credit_id\': \'59ac0b2ac3a3682c2202b192\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1558087, \'job\': \'Special Effects Coordinator\', \'name\': \'Eric Roberts\', \'profile_path\': None}, {\'credit_id\': \'59ac0b7ac3a3682c2202b1fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1392098, \'job\': \'Visual Effects Supervisor\', \'name\': \'Rocco Passionino\', \'profile_path\': None}, {\'credit_id\': \'59ac0bbe925141077e02d0c4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1558716, \'job\': \'Visual Effects Coordinator\', \'name\': \'Joseph Payo\', \'profile_path\': None}, {\'credit_id\': \'59ac0bf2c3a3682cc802cefa\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1408784, \'job\': \'Visual Effects Producer\', \'name\': \'Chris Roff\', \'profile_path\': None}, {\'credit_id\': \'59ac0c51c3a3682c48029d99\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1881600, \'job\': \'Best Boy Electric\', \'name\': \'Ulyan Atamanyuk\', \'profile_path\': None}, {\'credit_id\': \'59ac0cbac3a3682c0a02cff6\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881602, \'job\': \'Key Grip\', \'name\': \'Chris Ekstrom\', \'profile_path\': None}, {\'credit_id\': \'59ac0d54925141072f02d5e6\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1484984, \'job\': \'Best Boy Electric\', \'name\': \'Brad Garris\', \'profile_path\': None}, {\'credit_id\': \'59ac0db0925141078a02df86\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881603, \'job\': \'Dolly Grip\', \'name\': \'Kendell Joseph\', \'profile_path\': None}, {\'credit_id\': \'59ac0e5a925141077e02d39f\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1549179, \'job\': \'Dolly Grip\', \'name\': \'Spencer Wilcox\', \'profile_path\': None}, {\'credit_id\': \'59ac0e9f925141079d02bee6\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1552626, \'job\': \'Key Costumer\', \'name\': \'Sarah P. Koeppe\', \'profile_path\': None}, {\'credit_id\': \'59ac0ec1c3a3682bf0029524\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881605, \'job\': \'Seamstress\', \'name\': \'Catherine Rodi\', \'profile_path\': None}, {\'credit_id\': \'59ac0eef925141070702c7ff\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463801, \'job\': \'Seamstress\', \'name\': \'Giselle Spence\', \'profile_path\': None}, {\'credit_id\': \'59ac0f5dc3a3682c4802a0f5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1400837, \'job\': \'Location Manager\', \'name\': \'John A. Johnston\', \'profile_path\': None}, {\'credit_id\': \'59ac0ff2c3a3682c4802a196\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1844322, \'job\': \'Production Controller\', \'name\': \'Gail Marks\', \'profile_path\': None}]'

In [74]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [75]:
columns_to_keep = ['budget','genres','imdb_id','original_language','original_title','cast','crew','revenue','popularity']
imdb_df = imdb_df[columns_to_keep]

In [76]:
#Dropping null values
imdb_no_null= imdb_df.dropna()
imdb_no_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2978 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2978 non-null   int64
 1   genres             2978 non-null   object
 2   imdb_id            2978 non-null   object
 3   original_language  2978 non-null   object
 4   original_title     2978 non-null   object
 5   cast               2978 non-null   object
 6   crew               2978 non-null   object
 7   revenue            2978 non-null   int64
 8   popularity         2978 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 232.7+ KB

In [77]:
#Creating a function to convert crew coloumn into list of dictionaries from string as seen in above cell
def convert_column(column_value):
  return eval(column_value)

In [78]:
#Converting genre column from string to list of dictionaries
imdb_df.loc[~imdb_df['genres'].isna(),'genres'] = imdb_df.loc[~imdb_df['genres'].isna(),'genres'].apply(convert_column)

In [79]:
#Converting cast column from string to list of dictionaries
imdb_df.loc[~imdb_df['cast'].isna(),'cast'] = imdb_df.loc[~imdb_df['cast'].isna(),'cast'].apply(convert_column)

In [80]:
#Converting crew column from string to list of dictionaries
imdb_df.loc[~imdb_df['crew'].isna(),'crew'] = imdb_df.loc[~imdb_df['crew'].isna(),'crew'].apply(convert_column)

In [81]:
imdb_df_new = imdb_df.copy()

In [82]:
imdb_df_new['budget'].describe()

count    3.000000e+03
mean     2.253133e+07
std      3.702609e+07
min      0.000000e+00
25%      0.000000e+00
50%      8.000000e+06
75%      2.900000e+07
max      3.800000e+08
Name: budget, dtype: float64

In [83]:
# replacing values of budget which are less than 1000 by the median value of observations that are greater than 1000
imdb_df_new.loc[imdb_df_new['budget'] < 1000,'budget'] = imdb_df_new.loc[imdb_df_new['budget']>=1000,'budget'].median()

In [84]:
 # replacing values of revenue which are less than 1000 by the median value of observations that are greater than 1000
imdb_df_new.loc[imdb_df_new['revenue'] < 1000,'revenue'] = imdb_df_new.loc[imdb_df_new['revenue']>=1000,'revenue'].median()

# 1. Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.

In [85]:
#Creating a new coloumn profit
imdb_df_new['profit'] = imdb_df_new['revenue']-imdb_df_new['budget']

In [86]:
#Checking for profit coloumn if created correctly
imdb_df_new.head()

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,popularity,profit
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,6.575393,-1685349
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,8.248895,55149435
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,64.299990,9792000
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,3.174936,14800000
4,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,1.148070,-12526030

In [87]:
highest_profit = imdb_df_new['profit'].max()

In [88]:
max_profit_df=imdb_df_new[imdb_df_new['profit']==highest_profit]

In [89]:
crew_list=max_profit_df.iloc[0]['crew']

In [90]:
producer_list =[]
Director_list= []
for i in crew_list:

  if i['job'] == 'Producer':
    producer_list.append(i['name'])
  elif i['job'] == 'Director':
    Director_list.append(i['name'])
print(f"Highest profitable movie was {max_profit_df['original_title']} and its profit was{highest_profit}")
print(f"List of produces is {producer_list}")
print(f"List of director is{Director_list}")

Highest profitable movie was 1761    Furious 7
Name: original_title, dtype: object and its profit was1316249360
List of produces is ['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell']
List of director is['James Wan']

In [91]:
cast_list = max_profit_df.iloc[0]['cast']

In [92]:
cast = []
for i in cast_list:
  cast.append(i['name'])
print(f'list of actors is {cast}')

list of actors is ['Vin Diesel', 'Paul Walker', 'Dwayne Johnson', 'Michelle Rodriguez', 'Tyrese Gibson', 'Ludacris', 'Jordana Brewster', 'Djimon Hounsou', 'Tony Jaa', 'Ronda Rousey', 'Nathalie Emmanuel', 'Kurt Russell', 'Jason Statham', 'Sung Kang', 'Gal Gadot', 'Lucas Black', 'Elsa Pataky', 'Noel Gugliemi', 'John Brotherton', 'Luke Evans', 'Ali Fazal', 'Miller Kimsey', 'Charlie Kimsey', 'Eden Estrella', 'Gentry White', 'Iggy Azalea', 'Jon Lee Brody', 'Levy Tran', 'Anna Colwell', 'Viktor Hernandez', 'Steve Coulter', 'Robert Pralgo', 'Antwan Mills', 'J.J. Phillips', 'Jorge Ferragut', 'Sara Sohn', 'Benjamin Blankenship', 'D.J. Hapa', 'T-Pain', 'Brian Mahoney', 'Brittney Alger', 'Romeo Santos', 'Jocelin Donahue', 'Stephanie Langston', 'Jorge-Luis Pallo', 'Tego Calder√≥n', 'Nathalie Kelley', 'Shad Moss', 'Don Omar', 'Klement Tinaj', 'Caleb Walker', 'Cody Walker']

# This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?

In [93]:
# Adding ROI Column
imdb_df_new['ROI'] = 100* imdb_df_new['profit']/imdb_df_new['budget']

In [94]:
# Inspecting for the new column created in above step
imdb_df_new.head()

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,popularity,profit,ROI
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,6.575393,-1685349,-12.038207
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,8.248895,55149435,137.873588
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,64.299990,9792000,296.727273
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,3.174936,14800000,1233.333333
4,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,1.148070,-12526030,-76.146079

In [95]:
language_df=pd.DataFrame(imdb_df_new.groupby('original_language')['ROI'].mean().sort_values(ascending = False)).reset_index()

In [96]:
language_df

   original_language           ROI
0                 ko  11277.949295
1                 el   5198.013245
2                 sr   3397.506200
3                 en    929.987781
4                 tr    558.596201
5                 de    510.347257
6                 he    456.292450
7                 te    440.076812
8                 pl    395.816987
9                 ml    370.833333
10                ur    350.673773
11                zh    309.093227
12                hi    249.618424
13                mr    193.333333
14                ta    159.258448
15                ja    122.763087
16                ru    115.160185
17                es    103.433478
18                cn     86.002479
19                fr     51.900020
20                sv     25.853172
21                da     24.702661
22                no     24.155275
23                it     22.136747
24                nb     18.847943
25                fa      3.235168
26                nl    -24.142008
27                pt    -29.291459
28                fi    -30.319235
29                id    -41.617578
30                vi    -50.846154
31                ro    -62.182109
32                ar    -91.807009
33                hu    -95.535384
34                bn    -96.739429
35                cs    -99.894267

In [97]:
max_lang = language_df[language_df['ROI'] ==language_df['ROI'].max()]['original_language']

In [98]:
print(f'The languagae having highest ROI is {max_lang.values}')

The languagae having highest ROI is ['ko']

# Find out the unique genres of movies in this dataset.

In [99]:
imdb_df_new.loc[0,'genres']

[{'id': 35, 'name': 'Comedy'}]

In [100]:
imdb_genre_na=imdb_df_new[~imdb_df_new['genres'].isna()]

In [101]:
# creating a list of genres
genre_list = []
genres_list = []
for index,row in imdb_genre_na.iterrows():
  genre_list = row['genres']
  for i in genre_list:
    genres_list.append(i['name'])

In [102]:
print(genres_list)

['Comedy', 'Comedy', 'Drama', 'Family', 'Romance', 'Drama', 'Thriller', 'Drama', 'Action', 'Thriller', 'Animation', 'Adventure', 'Family', 'Horror', 'Thriller', 'Documentary', 'Action', 'Comedy', 'Music', 'Family', 'Adventure', 'Comedy', 'Music', 'Drama', 'Comedy', 'Drama', 'Comedy', 'Crime', 'Action', 'Thriller', 'Science Fiction', 'Mystery', 'Action', 'Crime', 'Drama', 'Horror', 'Thriller', 'Drama', 'Romance', 'Comedy', 'Romance', 'Action', 'Thriller', 'Crime', 'Adventure', 'Family', 'Science Fiction', 'Horror', 'Thriller', 'Thriller', 'Horror', 'Thriller', 'Mystery', 'Foreign', 'Horror', 'Comedy', 'Comedy', 'Horror', 'Mystery', 'Thriller', 'Crime', 'Drama', 'Mystery', 'Thriller', 'Drama', 'Comedy', 'Romance', 'Animation', 'Action', 'Adventure', 'Crime', 'Thriller', 'Drama', 'Comedy', 'Mystery', 'Drama', 'Thriller', 'Fantasy', 'Action', 'Adventure', 'Horror', 'Action', 'Comedy', 'Crime', 'Thriller', 'Action', 'Crime', 'Thriller', 'Comedy', 'Romance', 'Action', 'Drama', 'Science Fiction', 'Thriller', 'Thriller', 'War', 'Western', 'Action', 'Documentary', 'Crime', 'Drama', 'Comedy', 'Drama', 'Comedy', 'Romance', 'Crime', 'Drama', 'Mystery', 'Romance', 'Thriller', 'Animation', 'Family', 'Comedy', 'Adventure', 'Crime', 'Drama', 'Mystery', 'Western', 'Drama', 'Comedy', 'Science Fiction', 'Action', 'Adventure', 'Thriller', 'Romance', 'Drama', 'Comedy', 'Adventure', 'Comedy', 'Adventure', 'Family', 'Drama', 'Family', 'Romance', 'Action', 'Comedy', 'Drama', 'Romance', 'Comedy', 'Drama', 'Action', 'Crime', 'Fantasy', 'Music', 'Romance', 'Action', 'Adventure', 'Comedy', 'Adventure', 'Action', 'Thriller', 'Drama', 'Thriller', 'Fantasy', 'Crime', 'Drama', 'Horror', 'Thriller', 'Drama', 'Adventure', 'Action', 'Crime', 'Comedy', 'Drama', 'Crime', 'Drama', 'Action', 'Crime', 'Drama', 'Thriller', 'Drama', 'Mystery', 'Thriller', 'Fantasy', 'Drama', 'Comedy', 'Music', 'Crime', 'Documentary', 'Crime', 'Drama', 'Horror', 'Comedy', 'Drama', 'Romance', 'Foreign', 'Comedy', 'Crime', 'Drama', 'Action', 'Thriller', 'Horror', 'Thriller', 'Action', 'Crime', 'Drama', 'Thriller', 'Comedy', 'Drama', 'Romance', 'Drama', 'Horror', 'Mystery', 'Thriller', 'Thriller', 'Science Fiction', 'Horror', 'Mystery', 'Action', 'Adventure', 'Drama', 'Mystery', 'Science Fiction', 'Thriller', 'Drama', 'Crime', 'Action', 'Comedy', 'Thriller', 'Drama', 'History', 'Drama', 'Thriller', 'Mystery', 'Romance', 'Action', 'Crime', 'Drama', 'War', 'Adventure', 'Drama', 'Romance', 'Drama', 'History', 'Thriller', 'Drama', 'Mystery', 'Drama', 'Action', 'Comedy', 'Thriller', 'Romance', 'Fantasy', 'Drama', 'Animation', 'Comedy', 'Adventure', 'Family', 'Action', 'Crime', 'Drama', 'Action', 'Thriller', 'Science Fiction', 'Crime', 'Horror', 'Drama', 'Romance', 'Action', 'Comedy', 'Crime', 'Foreign', 'Drama', 'Comedy', 'Drama', 'Drama', 'Action', 'Drama', 'History', 'War', 'Drama', 'Comedy', 'Romance', 'Drama', 'Adventure', 'Romance', 'Action', 'Comedy', 'Crime', 'Romance', 'Comedy', 'Romance', 'Drama', 'Thriller', 'Drama', 'Adventure', 'Action', 'History', 'Comedy', 'Drama', 'Romance', 'Adventure', 'Fantasy', 'Action', 'Action', 'Comedy', 'Drama', 'Action', 'Adventure', 'Comedy', 'Drama', 'Romance', 'Crime', 'Action', 'Comedy', 'Action', 'Comedy', 'Crime', 'Thriller', 'Adventure', 'Animation', 'Drama', 'Family', 'Action', 'Comedy', 'Crime', 'Mystery', 'Thriller', 'Action', 'Crime', 'Thriller', 'Comedy', 'Drama', 'Romance', 'Drama', 'War', 'Action', 'Adventure', 'Comedy', 'Horror', 'Drama', 'Thriller', 'Mystery', 'Horror', 'Thriller', 'Drama', 'Comedy', 'Drama', 'Thriller', 'Documentary', 'History', 'Comedy', 'Drama', 'Comedy', 'Romance', 'Adventure', 'Comedy', 'Drama', 'Drama', 'Family', 'Comedy', 'Thriller', 'Adventure', 'Action', 'Science Fiction', 'Thriller', 'Drama', 'Music', 'Romance', 'Drama', 'Romance', 'Drama', 'Comedy', 'Drama', 'Horror', 'Crime', 'Thriller', 'Drama', 'Mystery', 'Romance', 'Comedy', 'Crime', 'Action', 'Science Fiction', 'Drama', 'Comedy', 'Family', 'Thriller', 'Adventure', 'Drama', 'Adventure', 'Drama', 'Western', 'Documentary', 'Drama', 'Fantasy', 'Horror', 'Thriller', 'Action', 'Crime', 'Thriller', 'Adventure', 'Fantasy', 'Animation', 'Family', 'Action', 'Action', 'Adventure', 'Science Fiction', 'Action', 'Drama', 'Thriller', 'Crime', 'Action', 'Western', 'Comedy', 'Drama', 'Comedy', 'Romance', 'Drama', 'Comedy', 'Comedy', 'Drama', 'Thriller', 'Horror', 'Fantasy', 'Action', 'Comedy', 'Science Fiction', 'Romance', 'Documentary', 'Music', 'Crime', 'Drama', 'Horror', 'Thriller', 'Mystery', 'Comedy', 'Crime', 'Adventure', 'Action', 'Thriller', 'Science Fiction', 'Comedy', 'Crime', 'Crime', 'Drama', 'Mystery', 'Thriller', 'Action', 'Drama', 'Thriller', 'Crime', 'Mystery', 'Adventure', 'Comedy', 'Action', 'Crime', 'Thriller', 'Horror', 'Science Fiction', 'Thriller', 'Drama', 'Romance', 'Action', 'Adventure', 'Thriller', 'War', 'Adventure', 'Action', 'Thriller', 'Thriller', 'Crime', 'Drama', 'Drama', 'Comedy', 'Romance', 'Adventure', 'Drama', 'Action', 'Comedy', 'Drama', 'Fantasy', 'Romance', 'Drama', 'Crime', 'Comedy', 'Drama', 'Mystery', 'Animation', 'Family', 'Drama', 'Comedy', 'Horror', 'Thriller', 'Science Fiction', 'Romance', 'Comedy', 'Drama', 'Comedy', 'Action', 'Crime', 'Drama', 'Thriller', 'Comedy', 'Drama', 'Drama', 'Horror', 'Action', 'Thriller', 'Crime', 'Action', 'Comedy', 'Drama', 'Drama', 'Crime', 'Comedy', 'Family', 'Fantasy', 'Music', 'Comedy', 'Drama', 'Romance', 'Science Fiction', 'Animation', 'Comedy', 'Family', 'Animation', 'Comedy', 'Family', 'Horror', 'Comedy', 'Romance', 'Crime', 'Drama', 'Thriller', 'Crime', 'Drama', 'Thriller', 'Action', 'Adventure', 'Science Fiction', 'Family', 'Fantasy', 'Fantasy', 'Horror', 'Science Fiction', 'Western', 'Adventure', 'Horror', 'Comedy', 'Horror', 'Thriller', 'Adventure', 'Action', 'Comedy', 'Family', 'Action', 'Thriller', 'Crime', 'Drama', 'Comedy', 'Crime', 'Fantasy', 'Animation', 'Family', 'Action', 'Comedy', 'Comedy', 'Documentary', 'Drama', 'History', 'War', 'Comedy', 'Romance', 'Comedy', 'Drama', 'Romance', 'Thriller', 'Mystery', 'Comedy', 'Action', 'Adventure', 'Drama', 'History', 'Fantasy', 'Thriller', 'Action', 'Crime', 'Drama', 'Romance', 'Adventure', 'Western', 'Drama', 'Romance', 'Action', 'Adventure', 'Comedy', 'Drama', 'Romance', 'Comedy', 'Drama', 'Western', 'Documentary', 'Action', 'Adventure', 'Drama', 'History', 'Adventure', 'Family', 'Horror', 'Comedy', 'Comedy', 'Fantasy', 'Drama', 'Thriller', 'Mystery', 'Romance', 'Drama', 'Romance', 'Comedy', 'Music', 'Action', 'Drama', 'Animation', 'Music', 'Family', 'Animation', 'Comedy', 'Drama', 'Romance', 'Romance', 'Comedy', 'Horror', 'Comedy', 'Adventure', 'Romance', 'Romance', 'Comedy', 'Crime', 'Fantasy', 'Drama', 'History', 'War', 'Action', 'Crime', 'Thriller', 'Mystery', 'Comedy', 'Action', 'Adventure', 'Comedy', 'Horror', 'Drama', 'Comedy', 'Drama', 'Comedy', 'Adventure', 'Drama', 'Drama', 'Action', 'Western', 'Music', 'Romance', 'Action', 'Animation', 'Science Fiction', 'Drama', 'Drama', 'Family', 'Comedy', 'Drama', 'Romance', 'Science Fiction', 'Drama', 'Thriller', 'Crime', 'Drama', 'Adventure', 'Drama', 'Comedy', 'Adventure', 'Action', 'Family', 'Documentary', 'Foreign', 'Music', 'Family', 'Comedy', 'Comedy', 'Action', 'Thriller', 'Family', 'Comedy', 'Comedy', 'Romance', 'Documentary', 'Horror', 'Fantasy', 'Thriller', 'Action', 'Adventure', 'Comedy', 'Romance', 'Drama', 'Drama', 'Crime', 'Thriller', 'Horror', 'Thriller', 'Horror', 'Thriller', 'Comedy', 'Drama', 'Romance', 'Drama', 'Crime', 'Drama', 'Thriller', 'Comedy', 'Science Fiction', 'Thriller', 'Adventure', 'Horror', 'Thriller', 'Thriller', 'Comedy', 'Crime', 'Romance', 'Action', 'Drama', 'Animation', 'Drama', 'Family', 'Fantasy', 'Comedy', 'Drama', 'Romance', 'Crime', 'Drama', 'Thriller', 'Drama', 'War', 'Action', 'Drama', 'Foreign', 'History', 'Thriller', 'Action', 'Adventure', 'Science Fiction', 'Action', 'Fantasy', 'Science Fiction', 'Drama', 'Action', 'Crime', 'Drama', 'Comedy', 'Fantasy', 'Action', 'Comedy', 'Science Fiction', 'Action', 'Horror', 'Comedy', 'Romance', 'Comedy', 'Music', 'Romance', 'Drama', 'Thriller', 'Action', 'War', 'Drama', 'History', 'Crime', 'Family', 'Fantasy', 'Crime', 'Drama', 'Comedy', 'Drama', 'Comedy', 'Drama', 'Thriller', 'Mystery', 'Drama', 'Romance', 'Comedy', 'Drama', 'Drama', 'Comedy', 'Family', 'Comedy', 'Animation', 'Adventure', 'Crime', 'Drama', 'Mystery', 'Animation', 'Adventure', 'Family', 'Comedy', 'Science Fiction', 'Action', 'Drama', 'Thriller', 'Fantasy', 'Mystery', 'Thriller', 'Crime', 'Drama', 'Romance', 'Thriller', 'Action', 'Thriller', 'Adventure', 'Fantasy', 'Drama', 'Comedy', 'Science Fiction', 'Family', 'Western', 'Drama', 'Adventure', 'Thriller', 'Drama', 'Action', 'Thriller', 'Crime', 'Action', 'Comedy', 'Romance', 'Comedy', 'Family', 'Fantasy', 'Comedy', 'Action', 'Thriller', 'Crime', 'Drama', 'Drama', 'Romance', 'Animation', 'Comedy', 'Romance', 'Adventure', 'Drama', 'Action', 'History', 'Comedy', 'Drama', 'Romance', 'War', 'Action', 'Drama', 'Action', 'Drama', 'Drama', 'Thriller', 'Crime', 'Mystery', 'Drama', 'Fantasy', 'Drama', 'Drama', 'History', 'Comedy', 'Drama', 'Mystery', 'Thriller', 'Crime', 'Comedy', 'Romance', 'War', 'Drama', 'Action', 'Action', 'Drama', 'Thriller', 'Comedy', 'Romance', 'Drama', 'Romance', 'Fantasy', 'Drama', 'Comedy', 'Family', 'Adventure', 'Adventure', 'Animation', 'Fantasy', 'Documentary', 'Drama', 'Action', 'Adventure', 'Action', 'Thriller', 'Comedy', 'Action', 'Comedy', 'Action', 'Crime', 'Documentary', 'Action', 'Adventure', 'Comedy', 'Drama', 'Mystery', 'Family', 'Animation', 'Drama', 'Action', 'War', 'Science Fiction', 'Fantasy', 'Drama', 'Family', 'Documentary', 'Adventure', 'Action', 'Comedy', 'Crime', 'Drama', 'War', 'Drama', 'Romance', 'Drama', 'Thriller', 'Science Fiction', 'Drama', 'Thriller', 'Drama', 'Family', 'Adventure', 'Comedy', 'Fantasy', 'Drama', 'Comedy', 'Romance', 'Thriller', 'Horror', 'Comedy', 'Drama', 'Drama', 'Comedy', 'Romance', 'Foreign', 'Action', 'Drama', 'Thriller', 'War', 'Comedy', 'Thriller', 'Drama', 'Horror', 'Science Fiction', 'Science Fiction', 'Animation', 'Family', 'Drama', 'Thriller', 'Crime', 'Animation', 'Family', 'Adventure', 'Drama', 'Music', 'Drama', 'Thriller', 'Action', 'Adventure', 'Drama', 'Family', 'Crime', 'Drama', 'Thriller', 'Drama', 'Romance', 'Drama', 'Family', 'Comedy', 'Drama', 'Drama', 'Romance', 'Action', 'Crime', 'Drama', 'Thriller', 'Comedy', 'Comedy', 'Adventure', 'Drama', 'History', 'Drama', 'Family', 'Comedy', 'Comedy', 'Comedy', 'Drama', 'Comedy', 'Documentary', 'Drama', 'Horror', 'Science Fiction', 'Thriller', 'Action', 'Adventure', 'Drama', 'History', 'Romance', 'War', 'Comedy', 'Crime', 'Horror', 'Thriller', 'Romance', 'Comedy', 'Drama', 'History', 'Drama', 'Action', 'Action', 'Horror', 'Thriller', 'Science Fiction', 'Horror', 'Thriller', 'Mystery', 'Animation', 'Comedy', 'Fantasy', 'Thriller', 'Adventure', 'Comedy', 'Science Fiction', 'Drama', 'Horror', 'Action', 'Thriller', 'Science Fiction', 'Drama', 'History', 'Romance', 'Comedy', 'Romance', 'Comedy', 'Crime', 'Drama', 'Mystery', 'Thriller', 'Drama', 'Adventure', 'Horror', 'Thriller', 'Crime', 'Drama', 'Comedy', 'Foreign', 'Fantasy', 'Comedy', 'Romance', 'Horror', 'Thriller', 'Action', 'Comedy', 'Crime', 'Thriller', 'Mystery', 'Comedy', 'Drama', 'Drama', 'Fantasy', 'Comedy', 'Family', 'Comedy', 'Drama', 'Mystery', 'Thriller', 'Drama', 'Mystery', 'Thriller', 'Comedy', 'Science Fiction', 'Thriller', 'Crime', 'Drama', 'Mystery', 'Action', 'Comedy', 'Crime', 'Romance', 'Adventure', 'Comedy', 'Drama', 'Science Fiction', 'Family', 'Adventure', 'Drama', 'Drama', 'History', 'Adventure', 'Action', 'Comedy', 'Comedy', 'Romance', 'Drama', 'Action', 'War', 'Drama', 'Thriller', 'Documentary', 'Mystery', 'Thriller', 'Drama', 'Romance', 'Comedy', 'Drama', 'Adventure', 'Action', 'Science Fiction', 'Thriller', 'Fantasy', 'Drama', 'Comedy', 'Family', 'Action', 'Thriller', 'Thriller', 'Science Fiction', 'Adventure', 'Action', 'Comedy', 'Romance', 'Drama', 'Crime', 'Thriller', 'Music', 'Romance', 'Drama', 'Horror', 'Thriller', 'War', 'Comedy', 'Drama', 'Romance', 'Horror', 'Drama', 'Mystery', 'Drama', 'Romance', 'Comedy', 'Family', 'Thriller', 'Action', 'Crime', 'History', 'Drama', 'Comedy', 'Family', 'Drama', 'Science Fiction', 'Mystery', 'Comedy', 'Drama', 'Family', 'Comedy', 'Family', 'Science Fiction', 'Crime', 'Drama', 'Thriller', 'Drama', 'Comedy', 'Drama', 'Adventure', 'Drama', 'Action', 'Romance', 'Family', 'Comedy', 'Drama', 'Crime', 'Thriller', 'Action', 'Comedy', 'Drama', 'History', 'Family', 'Animation', 'Horror', 'Comedy', 'Drama', 'Comedy', 'Drama', 'Action', 'Adventure', 'Drama', 'Thriller', 'Fantasy', 'Drama', 'Comedy', 'Science Fiction', 'Romance', 'Western', 'Action', 'Adventure', 'Comedy', 'Drama', 'Comedy', 'Drama', 'Romance', 'Drama', 'Comedy', 'Romance', 'Crime', 'Drama', 'History', 'Drama', 'Romance', 'Adventure', 'Animation', 'Comedy', 'Drama', 'Fantasy', 'Horror', 'Thriller', 'Drama', 'Horror', 'Science Fiction', 'Animation', 'Comedy', 'Drama', 'Action', 'Adventure', 'Drama', 'History', 'Crime', 'Drama', 'Thriller', 'Drama', 'Romance', 'Crime', 'Drama', 'Mystery', 'Thriller', 'Action', 'Thriller', 'Horror', 'Mystery', 'Science Fiction', 'Action', 'Adventure', 'Thriller', 'Documentary', 'Animation', 'Comedy', 'Family', 'War', 'Drama', 'Comedy', 'Drama', 'Romance', 'Action', 'Drama', 'Thriller', 'Mystery', 'Crime', 'Drama', 'Western', 'Action', 'Drama', 'War', 'Comedy', 'Drama', 'Thriller', 'Crime', 'Action', 'Mystery', 'Drama', 'Thriller', 'Horror', 'Crime', 'Drama', 'Comedy', 'Drama', 'Family', 'Fantasy', 'Comedy', 'Drama', 'Romance', 'Thriller', 'Science Fiction', 'Action', 'Crime', 'Drama', 'Music', 'Romance', 'Horror', 'Mystery', 'Thriller', 'Romance', 'Drama', 'Drama', 'Romance', 'Action', 'Adventure', 'Fantasy', 'Drama', 'Action', 'Crime', 'Drama', 'Documentary', 'Music', 'Drama', 'Drama', 'History', 'Action', 'Drama', 'Thriller', 'Adventure', 'Action', 'Thriller', 'Crime', 'Adventure', 'Comedy', 'Romance', 'Comedy', 'Romance', 'Romance', 'Comedy', 'Crime', 'Comedy', 'Drama', 'Family', 'Fantasy', 'Romance', 'Drama', 'Documentary', 'Music', 'Family', 'Adventure', 'Action', 'Science Fiction', 'Adventure', 'Thriller', 'Drama', 'Romance', 'Drama', 'War', 'Comedy', 'Action', 'Adventure', 'Thriller', 'Adventure', 'Action', 'Comedy', 'Documentary', 'Adventure', 'Family', 'Fantasy', 'Comedy', 'Drama', 'Horror', 'Mystery', 'Thriller', 'Adventure', 'Fantasy', 'Action', 'Comedy', 'Drama', 'Music', 'Romance', 'Action', 'Adventure', 'Drama', 'Drama', 'Comedy', 'Thriller', 'Comedy', 'Fantasy', 'Horror', 'Horror', 'Thriller', 'Documentary', 'Thriller', 'Drama', 'Crime', 'Action', 'Science Fiction', 'Horror', 'Thriller', 'Comedy', 'Crime', 'Romance', 'Drama', 'Animation', 'Science Fiction', 'Action', 'Adventure', 'Crime', 'Drama', 'Thriller', 'Adventure', 'Drama', 'Comedy', 'Comedy', 'Drama', 'History', 'Adventure', 'Family', 'Drama', 'Drama', 'Comedy', 'Romance', 'Drama', 'Drama', 'Comedy', 'Romance', 'Action', 'Adventure', 'Drama', 'History', 'Western', 'Action', 'Comedy', 'Crime', 'Drama', 'Thriller', 'Science Fiction', 'Thriller', 'Horror', 'Thriller', 'Science Fiction', 'Horror', 'Crime', 'Drama', 'Mystery', 'Thriller', 'Comedy', 'Comedy', 'Drama', 'History', 'Action', 'Science Fiction', 'Crime', 'Adventure', 'Animation', 'Comedy', 'Family', 'Drama', 'Action', 'Western', 'Drama', 'Comedy', 'Horror', 'Music', 'Drama', 'Comedy', 'Drama', 'Music', 'Horror', 'Action', 'Thriller', 'Crime', 'Comedy', 'Drama', 'Drama', 'Music', 'Action', 'Horror', 'Science Fiction', 'Horror', 'Thriller', 'Drama', 'Comedy', 'Romance', 'Drama', 'Comedy', 'Drama', 'Romance', 'Romance', 'Drama', 'Comedy', 'Romance', 'Comedy', 'Horror', 'Comedy', 'Fantasy', 'Comedy', 'Drama', 'Drama', 'Thriller', 'Drama', 'Action', 'Romance', 'War', 'Drama', 'Thriller', 'Adventure', 'Drama', 'Romance', 'Action', 'Comedy', 'Romance', 'Drama', 'Drama', 'Action', 'Crime', 'Thriller', 'Drama', 'History', 'War', 'Thriller', 'War', 'Adventure', 'Documentary', 'Drama', 'Fantasy', 'Animation', 'Romance', 'Family', 'Horror', 'Comedy', 'Action', 'Fantasy', 'Science Fiction', 'Thriller', 'Drama', 'Romance', 'Thriller', 'Drama', 'Comedy', 'Romance', 'Action', 'Adventure', 'Drama', 'War', 'Drama', 'Foreign', 'Drama', 'Family', 'Comedy', 'Comedy', 'Fantasy', 'Drama', 'Mystery', 'Crime', 'Drama', 'Mystery', 'Thriller', 'Drama', 'War', 'Drama', 'History', 'Adventure', 'Fantasy', 'Action', 'Comedy', 'Family', 'Action', 'Comedy', 'Action', 'Adventure', 'Drama', 'History', 'Music', 'Drama', 'Action', 'Drama', 'Thriller', 'Drama', 'Drama', 'Romance', 'Comedy', 'Drama', 'Romance', 'Adventure', 'Comedy', 'Crime', 'Mystery', 'Romance', 'Thriller', 'Thriller', 'Action', 'Crime', 'Drama', 'Action', 'Adventure', 'Fantasy', 'Science Fiction', 'Comedy', 'Drama', 'Family', 'Fantasy', 'Adventure', 'Adventure', 'Action', 'Comedy', 'Music', 'Drama', 'Romance', 'Adventure', 'Comedy', 'Drama', 'Romance', 'Drama', 'Romance', 'Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Comedy', 'Romance', 'Comedy', 'Romance', 'Drama', 'Drama', 'Thriller', 'Crime', 'Drama', 'Thriller', 'Science Fiction', 'Drama', 'Comedy', 'Music', 'Adventure', 'Animation', 'Comedy', 'Family', 'Drama', 'Romance', 'Action', 'Crime', 'Drama', 'Romance', 'Thriller', 'Western', 'Comedy', 'Drama', 'Crime', 'Horror', 'Mystery', 'Thriller', 'Science Fiction', 'Thriller', 'Romance', 'Drama', 'Comedy', 'Drama', 'Comedy', 'Romance', 'Fantasy', 'Drama', 'Action', 'Comedy', 'Science Fiction', 'Action', 'Thriller', 'Fantasy', 'Comedy', 'Romance', 'Drama', 'Horror', 'Thriller', 'Family', 'Action', 'Comedy', 'Drama', 'Adventure', 'Fantasy', 'Drama', 'Music', 'Thriller', 'Comedy', 'Drama', 'Comedy', 'Drama', 'Music', 'Romance', 'Comedy', 'Drama', 'Crime', 'Action', 'Thriller', 'Action', 'Animation', 'Action', 'Family', 'Action', 'Adventure', 'Crime', 'Drama', 'Comedy', 'Drama', 'Romance', 'Crime', 'Drama', 'Mystery', 'Romance', 'Thriller', 'Action', 'Adventure', 'Science Fiction', 'Thriller', 'Action', 'Adventure', 'Comedy', 'Fantasy', 'Drama', 'Crime', 'Action', 'Adventure', 'Comedy', 'Family', 'Family', 'Fantasy', 'Romance', 'Crime', 'Drama', 'Western', 'Comedy', 'Crime', 'Drama', 'Comedy', 'Horror', 'Drama', 'Science Fiction', 'Adventure', 'Action', 'Comedy', 'Drama', 'Romance', 'Drama', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Thriller', 'Comedy', 'Romance', 'Thriller', 'Crime', 'Drama', 'Mystery', 'Horror', 'Thriller', 'Romance', 'Romance', 'Thriller', 'Comedy', 'Romance', 'Comedy', 'Crime', 'Drama', 'War', 'Action', 'Comedy', 'Horror', 'Comedy', 'Music', 'Horror', 'Thriller', 'Comedy', 'Romance', 'Documentary', 'Drama', 'Thriller', 'History', 'Drama', 'Mystery', 'Thriller', 'Drama', 'Comedy', 'Drama', 'Action', 'Adventure', 'Thriller', 'Drama', 'Comedy', 'Romance', 'Drama', 'Romance', 'Adventure', 'Drama', 'Family', 'Action', 'History', 'War', 'Drama', 'Music', 'Romance', 'Drama', 'Thriller', 'Music', 'Comedy', 'Drama', 'Fantasy', 'Animation', 'Science Fiction', 'Family', 'Thriller', 'Horror', 'Action', 'Crime', 'Drama', 'Drama', 'Horror', 'Fantasy', 'Comedy', 'Drama', 'Action', 'Comedy', 'Thriller', 'Crime', 'Adventure', 'Fantasy', 'Drama', 'Romance', 'Action', 'Crime', 'Drama', 'Mystery', 'Thriller', 'Drama', 'Comedy', 'Romance', 'Drama', 'Adventure', 'Comedy', 'Crime', 'Mystery', 'Romance', 'Animation', 'Adventure', 'Comedy', 'Family', 'Drama', 'Thriller', 'Comedy', 'Drama', 'Romance', 'Drama', 'Comedy', 'Action', 'Drama', 'Thriller', 'Animation', 'Adventure', 'Family', 'Comedy', 'Adventure', 'Comedy', 'Family', 'Science Fiction', 'Drama', 'History', 'Romance', 'Drama', 'Drama', 'Thriller', 'Action', 'Thriller', 'Crime', 'Action', 'Thriller', 'Family', 'Science Fiction', 'Comedy', 'Crime', 'Drama', 'Comedy', 'Thriller', 'Action', 'Comedy', 'Crime', 'Drama', 'Drama', 'Action', 'Thriller', 'Horror', 'Science Fiction', 'Drama', 'Music', 'Romance', 'Fantasy', 'Family', 'R

In [103]:
#Creating a set of genres_list so that can get the unique values
print(set(genres_list))

{'History', 'Western', 'Thriller', 'TV Movie', 'Horror', 'Foreign', 'Animation', 'Action', 'Adventure', 'Romance', 'Family', 'Music', 'War', 'Science Fiction', 'Comedy', 'Documentary', 'Drama', 'Mystery', 'Crime', 'Fantasy'}

# Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?

In [104]:
imdb_df_new.head()

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,popularity,profit,ROI
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,6.575393,-1685349,-12.038207
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,8.248895,55149435,137.873588
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,64.299990,9792000,296.727273
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,3.174936,14800000,1233.333333
4,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,1.148070,-12526030,-76.146079

In [105]:
imdb_df_new.loc[0,'crew']

[{'credit_id': '59ac067c92514107af02c8c8',
  'department': 'Directing',
  'gender': 0,
  'id': 1449071,
  'job': 'First Assistant Director',
  'name': 'Kelly Cantley',
  'profile_path': None},
 {'credit_id': '52fe4ee7c3a36847f82afad7',
  'department': 'Directing',
  'gender': 2,
  'id': 3227,
  'job': 'Director',
  'name': 'Steve Pink',
  'profile_path': '/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg'},
 {'credit_id': '5524ed25c3a3687ded000d88',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Writer',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed2d925141720c001128',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Characters',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed3d92514166c1004a5d',
  'department': 'Production',
  'gender': 2,
  'id': 57822,
  'job': 'Producer',
  'name': 'Andrew Panay',
  'profile_path': None},
 {'credit_id': '5524ed4bc3a3687df3000dd2',
  'department': 'Production',
  'gender': 0,
  'id': 1451395,
  'job': 'Associate Producer',
  'name': 'Adam Blum',
  'profile_path': None},
 {'credit_id': '5524ed5a925141720c00112c',
  'department': 'Production',
  'gender': 2,
  'id': 52997,
  'job': 'Executive Producer',
  'name': 'Rob Corddry',
  'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'},
 {'credit_id': '5524ed85c3a3687e0e000f56',
  'department': 'Production',
  'gender': 0,
  'id': 62807,
  'job': 'Executive Producer',
  'name': 'Ben Ormand',
  'profile_path': None},
 {'credit_id': '5524ed9fc3a3687e0e000f59',
  'department': 'Sound',
  'gender': 2,
  'id': 23486,
  'job': 'Original Music Composer',
  'name': 'Christophe Beck',
  'profile_path': '/2fnJUmCk6IEpVIptpYaUk31epHx.jpg'},
 {'credit_id': '5524eda6c3a3687e03000d28',
  'department': 'Camera',
  'gender': 2,
  'id': 6117,
  'job': 'Director of Photography',
  'name': 'Declan Quinn',
  'profile_path': None},
 {'credit_id': '5524edb4925141720c00113d',
  'department': 'Editing',
  'gender': 0,
  'id': 1451396,
  'job': 'Editor',
  'name': 'Jamie Gross',
  'profile_path': None},
 {'credit_id': '5524edc1925141727600102e',
  'department': 'Production',
  'gender': 0,
  'id': 22219,
  'job': 'Casting',
  'name': 'Susie Farris',
  'profile_path': None},
 {'credit_id': '5524edd192514171cb008257',
  'department': 'Art',
  'gender': 0,
  'id': 1002643,
  'job': 'Production Design',
  'name': 'Ryan Berg',
  'profile_path': None},
 {'credit_id': '555ad9be9251411e5b00d485',
  'department': 'Production',
  'gender': 2,
  'id': 57431,
  'job': 'Executive Producer',
  'name': 'Matt Moore',
  'profile_path': None},
 {'credit_id': '5677e93bc3a36816890087dc',
  'department': 'Directing',
  'gender': 0,
  'id': 1551818,
  'job': 'Script Supervisor',
  'name': 'Nicole Garcea',
  'profile_path': None},
 {'credit_id': '5677e96a92514179e10093d0',
  'department': 'Production',
  'gender': 0,
  'id': 1551819,
  'job': 'Production Coordinator',
  'name': 'Jason Salzman',
  'profile_path': None},
 {'credit_id': '5677e98492514179d2008cd9',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1422996,
  'job': 'Costume Design',
  'name': 'Carol Cutshall',
  'profile_path': None},
 {'credit_id': '5677e9d5c3a368168e009414',
  'department': 'Art',
  'gender': 2,
  'id': 500199,
  'job': 'Set Decoration',
  'name': 'Tim Cohn',
  'profile_path': None},
 {'credit_id': '5677f89d9251417845001a61',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1527917,
  'job': 'Hair Department Head',
  'name': 'Voni Hinkle',
  'profile_path': None},
 {'credit_id': '5677f8b392514179dd0089fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431554,
  'job': 'Makeup Department Head',
  'name': 'Remi Savva',
  'profile_path': None},
 {'credit_id': '5677f8d1c3a3681689008a4b',
  'department': 'Art',
  'gender': 0,
  'id': 66495,
  'job': 'Art Direction',
  'name': 'Jason Baldwin Stewart',
  'profile_path': None},
 {'credit_id': '5677f8eec3a3681685008dd5',
  'department': 'Production',
  'gender': 0,
  'id': 1412466,
  'job': 'Production Supervisor',
  'name': 'Korey Budd',
  'profile_path': None},
 {'credit_id': '5677f90a9251417845001a7d',
  'department': 'Sound',
  'gender': 0,
  'id': 1401562,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary C. Bourgeois',
  'profile_path': None},
 {'credit_id': '5677f91e9251417845001a84',
  'department': 'Sound',
  'gender': 0,
  'id': 1396794,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gabriel J. Serrano',
  'profile_path': None},
 {'credit_id': '5677f938c3a3681680008dd4',
  'department': 'Editing',
  'gender': 0,
  'id': 13168,
  'job': 'Dialogue Editor',
  'name': 'Victoria Rose Sampson',
  'profile_path': None},
 {'credit_id': '5677f94e92514179dd008a1f',
  'department': 'Sound',
  'gender': 0,
  'id': 1551839,
  'job': 'Production Sound Mixer',
  'name': 'Michael B. Koff',
  'profile_path': None},
 {'credit_id': '5677f968c3a368168e009698',
  'department': 'Sound',
  'gender': 0,
  'id': 113052,
  'job': 'Sound Effects Editor',
  'name': 'Randall Guth',
  'profile_path': None},
 {'credit_id': '5677f98dc3a3681685008e02',
  'department': 'Crew',
  'gender': 2,
  'id': 1442535,
  'job': 'Stunt Coordinator',
  'name': 'Chuck Picerni Jr.',
  'profile_path': '/yE5QtXUzcrnCzMRctZL8F5g842B.jpg'},
 {'credit_id': '5677f9a692514179dd008a49',
  'department': 'Camera',
  'gender': 0,
  'id': 1437305,
  'job': 'Camera Operator',
  'name': 'Michael Applebaum',
  'profile_path': None},
 {'credit_id': '5677f9bd9251417845001aae',
  'department': 'Camera',
  'gender': 0,
  'id': 1401765,
  'job': 'Still Photographer',
  'name': 'Steve Dietl',
  'profile_path': None},
 {'credit_id': '5677f9e592514179e7008bf7',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402721,
  'job': 'Rigging Gaffer',
  'name': 'Tarik Naim Alherimi',
  'profile_path': None},
 {'credit_id': '5677f9f4c3a368167c0090ed',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402719,
  'job': 'Gaffer',
  'name': 'Paul Olinde',
  'profile_path': None},
 {'credit_id': '5677fa21c3a368168e0096ca',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Supervisor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa31c3a3681680008e04',
  'department': 'Sound',
  'gender': 0,
  'id': 1551841,
  'job': 'Music Editor',
  'name': 'Matt Fausak',
  'profile_path': None},
 {'credit_id': '5677fa4392514179dd008a76',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Editor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa609251417845001acf',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1403416,
  'job': 'Costume Supervisor',
  'name': 'Shonta T. McCray',
  'profile_path': None},
 {'credit_id': '5677fa8492514179d2008fb3',
  'department': 'Camera',
  'gender': 0,
  'id': 1425831,
  'job': 'Steadicam Operator',
  'name': 'Mark Karavite',
  'profile_path': None},
 {'credit_id': '5677fab2c3a3681689008ac3',
  'department': 'Camera',
  'gender': 0,
  'id': 1551842,
  'job': 'First Assistant Camera',
  'name': 'Joe Waistell',
  'profile_path': None},
 {'credit_id': '5677faecc3a368168e0096fe',
  'department': 'Sound',
  'gender': 0,
  'id': 58362,
  'job': 'Supervising Sound Editor',
  'name': 'Michael Hilkene',
  'profile_path': None},
 {'credit_id': '59ac0368c3a3682c0a02c484',
  'department': 'Crew',
  'gender': 0,
  'id': 1881584,
  'job': 'Additional Writing',
  'name': 'John Karnay',
  'profile_path': None},
 {'credit_id': '59ac0411c3a3682bf0028966',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431552,
  'job': 'Hairstylist',
  'name': 'Daina Daigle',
  'profile_path': None},
 {'credit_id': '59ac0504925141072302b8fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1712001,
  'job': 'Makeup Artist',
  'name': 'Allison Gordin',
  'profile_path': None},
 {'credit_id': '59ac0570c3a3682bf0028aac',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 578725,
  'job': 'Makeup Artist',
  'name': 'Darryl Lucas',
  'profile_path': None},
 {'credit_id': '59ac05a4925141077e02c97e',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463274,
  'job': 'Makeup Artist',
  'name': 'Annabelle MacNeal',
  'profile_path': None},
 {'credit_id': '59ac05c6925141076502d106',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881586,
  'job': 'Makeup Artist',
  'name': 'Marina Savva',
  'profile_path': None},
 {'credit_id': '59ac0615c3a3682c480296aa',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1406267,
  'job': 'Hairstylist',
  'name': 'Carl G. Variste',
  'profile_path': None},
 {'credit_id': '59ac06ba925141076502d1fa',
  'department': 'Directing',
  'gender': 0,
  'id': 1798593,
  'job': 'First Assistant Director',
  'name': 'Josh King',
  'profile_path': None},
 {'credit_id': '59ac06f1c3a3682c2202aca0',
  'department': 'Art',
  'gender': 0,
  'id': 1415083,
  'job': 'Greensman',
  'name': 'Scott C. Bivona',
  'profile_path': None},
 {'credit_id': '59ac072c925141076502d260',
  'department': 'Art',
  'gender': 0,
  'id': 1881587,
  'job': 'Title Designer',
  'name': 'Eunha Choi',
  'profile_path': None},
 {'credit_id': '59ac077c925141077e02cb62',
  'department': 'Art',
  'gender': 0,
  'id': 1585302,
  'job': 'Construction Coordinator',
  'name': 'Daniel Coe',
  'profile_path': None},
 {'credit_id': '59ac07e0925141078a02d842',
  'department': 'Art',
  'gender': 0,
  'id': 1495523,
  'job': 'Set Designer',
  'name': 'Spencer Davison',
  'profile_path': None},
 {'credit_id': '59ac0862925141072f02cf6f',
  'department': 'Art',
  'gender': 0,
  'id': 1881589,
  'job': 'Painter',
  'name': 'Sonia L. Garcia',
  'profile_path': None},
 {'credit_id': '59ac08e0c3a3682bf0028e51',
  'department': 'Art',
  'gender': 0,
  'id': 1424896,
  'job': 'Art Department Coordinator',
  'name': 'Caleb Guillotte',
  'profile_path': None},
 {'credit_id': '59ac0920c3a3682c2202af36',
  'department': 'Art',
  'gender': 0,
  'id': 1393375,
  'job': 'Leadman',
  'name': "Pat A. O'Connor",
  'profile_path': None},
 {'credit_id': '59ac095592514107af02cc39',
  'department': 'Art',
  'gender': 0,
  'id': 1881592,
  'job': 'Set Designer',
  'name': 'Brendan Turrill',
  'profile_path': None},
 {'credit_id': '59ac0989925141072302bdfa',
  'department': 'Art',
  'gender': 2,
  'id': 76497,
  'job': 'Property Master',
  'name': 'Brook Yeaton',
  'profile_path': None},
 {'credit_id': '59ac0a2cc3a3682c9c02add1',
  'department': 'Sound',
  'gender': 0,
  'id': 1881596,
  'job': 'Boom Operator',
  'name': 'Matthew Armstrong',
  'profile_path': None},
 {'credit_id': '59ac0aa8925141072f02d282',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 1558086,
  'job': 'Special Effects Supervisor',
  'name': 'Matt Kutcher',
  'profile_path': None},
 {'credit_id': '59ac0b2ac3a3682c2202b192',
  'department': 'Crew',
  'gender': 2,
  'id': 1558087,
  'job': 'Special Effects Coordinator',
  'name': 'Eric Roberts',
  'profile_path': None},
 {'credit_id': '59ac0b7ac3a3682c2202b1fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1392098,
  'job': 'Visual Effects Supervisor',
  'name': 'Rocco Passionino',
  'profile_path': None},
 {'credit_id': '59ac0bbe925141077e02d0c4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1558716,
  'job': 'Visual Effects Coordinator',
  'name': 'Joseph Payo',
  'profile_path': None},
 {'credit_id': '59ac0bf2c3a3682cc802cefa',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1408784,
  'job': 'Visual Effects Producer',
  'name': 'Chris Roff',
  'profile_path': None},
 {'credit_id': '59ac0c51c3a3682c48029d99',
  'department': 'Lighting',
  'gender': 0,
  'id': 1881600,
  'job': 'Best Boy Electric',
  'name': 'Ulyan Atamanyuk',
  'profile_path': None},
 {'credit_id': '59ac0cbac3a3682c0a02cff6',
  'department': 'Camera',
  'gender': 0,
  'id': 1881602,
  'job': 'Key Grip',
  'name': 'Chris Ekstrom',
  'profile_path': None},
 {'credit_id': '59ac0d54925141072f02d5e6',
  'department': 'Lighting',
  'gender': 0,
  'id': 1484984,
  'job': 'Best Boy Electric',
  'name': 'Brad Garris',
  'profile_path': None},
 {'credit_id': '59ac0db0925141078a02df86',
  'department': 'Camera',
  'gender': 0,
  'id': 1881603,
  'job': 'Dolly Grip',
  'name': 'Kendell Joseph',
  'profile_path': None},
 {'credit_id': '59ac0e5a925141077e02d39f',
  'department': 'Camera',
  'gender': 0,
  'id': 1549179,
  'job': 'Dolly Grip',
  'name': 'Spencer Wilcox',
  'profile_path': None},
 {'credit_id': '59ac0e9f925141079d02bee6',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1552626,
  'job': 'Key Costumer',
  'name': 'Sarah P. Koeppe',
  'profile_path': None},
 {'credit_id': '59ac0ec1c3a3682bf0029524',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881605,
  'job': 'Seamstress',
  'name': 'Catherine Rodi',
  'profile_path': None},
 {'credit_id': '59ac0eef925141070702c7ff',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463801,
  'job': 'Seamstress',
  'name': 'Giselle Spence',
  'profile_path': None},
 {'credit_id': '59ac0f5dc3a3682c4802a0f5',
  'department': 'Production',
  'gender': 0,
  'id': 1400837,
  'job': 'Location Manager',
  'name': 'John A. Johnston',
  'profile_path': None},
 {'credit_id': '59ac0ff2c3a3682c4802a196',
  'department': 'Crew',
  'gender': 0,
  'id': 1844322,
  'job': 'Production Controller',
  'name': 'Gail Marks',
  'profile_path': None}]

In [106]:
# creating a data frame having no null values on crew column 
imdb_crew_na = imdb_df_new[~imdb_df_new['crew'].isna()]

In [107]:
# Creating a function to get producer and director list
def get_producer_and_director(crew_list):
  try:
    producer_list = []
    director_list = []
    #Getting producer list
    for i in crew_list:
      if i['job'] == 'Producer':
        producer_list.append(i['name'])
    #Getting Director list
      if i['job'] == 'Director':
        director_list.append(i['name'])
    return producer_list,director_list
  except:
    return [],[]

In [108]:
#Testing the function
get_producer_and_director(imdb_crew_na.loc[1,'crew'])

(['Whitney Houston', 'Mario Iscovich', 'Debra Martin Chase'],
 ['Garry Marshall'])

In [109]:
# Creating to new columns Producers and Directors and using result_type expand to seprate the producer list and director list 
imdb_df_new[['Producers','Directors']] = imdb_df_new.apply(lambda row: get_producer_and_director(row['crew']),axis=1,result_type='expand')

In [110]:
imdb_df_new.head()

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,popularity,profit,ROI,Producers,Directors
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,6.575393,-1685349,-12.038207,[Andrew Panay],[Steve Pink]
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,8.248895,55149435,137.873588,"[Whitney Houston, Mario Iscovich, Debra Martin...",[Garry Marshall]
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,64.299990,9792000,296.727273,"[David Lancaster, Michel Litvak, Jason Blum, H...",[Damien Chazelle]
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,3.174936,14800000,1233.333333,[Sujoy Ghosh],[Sujoy Ghosh]
4,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,1.148070,-12526030,-76.146079,[],[Jong-seok Yoon]

In [111]:
# Creating a producer dataframe so that we can perform operations on it
imdb_producer = imdb_df_new[['original_title','Producers','Directors','ROI']]

In [112]:
# Creting a new dataframe with exploded producer list so that we can perform groupby operation on it
producer_exploded=imdb_producer.explode('Producers').reset_index()

In [113]:
producer_exploded.head()

,index,original_title,Producers,Directors,ROI
0,0,Hot Tub Time Machine 2,Andrew Panay,[Steve Pink],-12.038207
1,1,The Princess Diaries 2: Royal Engagement,Whitney Houston,[Garry Marshall],137.873588
2,1,The Princess Diaries 2: Royal Engagement,Mario Iscovich,[Garry Marshall],137.873588
3,1,The Princess Diaries 2: Royal Engagement,Debra Martin Chase,[Garry Marshall],137.873588
4,2,Whiplash,David Lancaster,[Damien Chazelle],296.727273

In [114]:
# Creating a dataframe containig grouped producers
top_producers = producer_exploded.groupby('Producers')['ROI'].mean().reset_index()

In [115]:
top_producers.head()

            Producers          ROI
0             50 Cent   -84.582270
1       A. M. Rathnam    64.130435
2  A. V. M. Saravanan   257.723458
3            A.J. Dix   269.986308
4          Aamir Khan  1631.688963

In [116]:
#Getting Top 3 Producers with Highest ROI
top_producers.sort_values('ROI',ascending=False).head(3)

        Producers           ROI
146    Amir Zbeda  1.288939e+06
2878  Robin Cowie  4.132333e+05
1185   Gregg Hale  4.132333e+05

# Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.

In [117]:
imdb_df_cast = imdb_df_new[~imdb_df_new['cast'].isna()]

In [118]:
imdb_df_cast.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2987 entries, 0 to 2999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2987 non-null   int64
 1   genres             2980 non-null   object
 2   imdb_id            2987 non-null   object
 3   original_language  2987 non-null   object
 4   original_title     2987 non-null   object
 5   cast               2987 non-null   object
 6   crew               2984 non-null   object
 7   revenue            2987 non-null   int64
 8   popularity         2987 non-null   float64
 9   profit             2987 non-null   int64
 10  ROI                2987 non-null   float64
 11  Producers          2987 non-null   object
 12  Directors          2987 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 326.7+ KB

In [119]:
# Creating a function to add cast list

def get_cast(cast_column):
  cast_list = []
  for i in cast_column:
    cast_list.append(i['name'])
  return cast_list

In [120]:
imdb_df_cast['actors'] = imdb_df_cast.apply(lambda row: get_cast(row['cast']),axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [121]:
imdb_df_cast.head()

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,popularity,profit,ROI,Producers,Directors,actors
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,6.575393,-1685349,-12.038207,[Andrew Panay],[Steve Pink],"[Rob Corddry, Craig Robinson, Clark Duke, Adam..."
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,8.248895,55149435,137.873588,"[Whitney Houston, Mario Iscovich, Debra Martin...",[Garry Marshall],"[Anne Hathaway, Julie Andrews, H√©ctor Elizond..."
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,64.299990,9792000,296.727273,"[David Lancaster, Michel Litvak, Jason Blum, H...",[Damien Chazelle],"[Miles Teller, J.K. Simmons, Melissa Benoist, ..."
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,3.174936,14800000,1233.333333,[Sujoy Ghosh],[Sujoy Ghosh],"[Vidya Balan, Nawazuddin Siddiqui, Parambrata ..."
4,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,1.148070,-12526030,-76.146079,[],[Jong-seok Yoon],"[Kim Kang-woo, Jo Jae-hyeon, Park Si-yeon, Kim..."

In [122]:
cast_exploded=imdb_df_cast.explode('actors')

In [123]:
cast_exploded.head()

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,popularity,profit,ROI,Producers,Directors,actors
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,6.575393,-1685349,-12.038207,[Andrew Panay],[Steve Pink],Rob Corddry
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,6.575393,-1685349,-12.038207,[Andrew Panay],[Steve Pink],Craig Robinson
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,6.575393,-1685349,-12.038207,[Andrew Panay],[Steve Pink],Clark Duke
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,6.575393,-1685349,-12.038207,[Andrew Panay],[Steve Pink],Adam Scott
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,6.575393,-1685349,-12.038207,[Andrew Panay],[Steve Pink],Chevy Chase

In [124]:
most_no = cast_exploded['actors'].value_counts().reset_index()

In [125]:
most_no.rename(columns={'index':'Actors','actors':'No_Of_Movies'}).sort_values('No_Of_Movies',ascending=False)

                  Actors  No_Of_Movies
0         Robert De Niro            30
1      Samuel L. Jackson            30
2         Morgan Freeman            27
3           Bruce Willis            25
4           J.K. Simmons            25
...                  ...           ...
19128       Bobby Sutton             1
19127      Hillary Tyler             1
19126      Terri Berland             1
19125  Sabrina Geerinckx             1
38587      Derek Burnell             1

[38588 rows x 2 columns]

In [126]:
most_no.head(3)

               index  actors
0     Robert De Niro      30
1  Samuel L. Jackson      30
2     Morgan Freeman      27

In [127]:
#Getting movie name and profit for that movie
profit1 = []
movies1 = []
profit2 = []
movies2 = []
genre_robert = []
r=[]
genre_samule = []
s = []
for index,row in imdb_df_cast.iterrows():
  for iter in imdb_df_cast.loc[index,'cast']:
    if type(iter) ==dict:
      actor = iter['name']
      if actor == 'Robert De Niro':
        profit1.append(imdb_df_cast.loc[index,'profit'])
        movies1.append(imdb_df_cast.loc[index,'original_title'])
        for i in imdb_df_cast.loc[index,'genres']:
          r = []
          r.append(i['name'])
        genre_robert.append(r)


      if actor == 'Samuel L. Jackson':
        profit2.append(imdb_df_cast.loc[index,'profit'])
        movies2.append(imdb_df_cast.loc[index,'original_title'])
        for i in imdb_df_cast.loc[index,'genres']:
          s = []
          s.append(i['name'])
        genre_samule.append(s)

In [128]:
genr = np.array(genre_robert)
gens = np.array(genre_samule)

In [129]:
mov1 = pd.DataFrame(movies1,columns=['Movie_name'])
prof1 = pd.DataFrame(profit1,columns=['Profit'])
gen1 = pd.DataFrame(genr,columns=['Genres'])

In [130]:
Movies_by_Robert = pd.concat([mov1,prof1,gen1],axis=1)

In [131]:
#Top movies by Robert
Movies_by_Robert.sort_values('Profit',ascending=False).head()

          Movie_name     Profit    Genres
8   Meet the Parents  275444045   Romance
16   American Hustle  211171807     Crime
10          Sleepers  121615285  Thriller
26      Analyze This   96885658     Crime
29         Backdraft   77368585  Thriller

In [132]:
mov2 = pd.DataFrame(movies2,columns=['Movie_name'])
prof2 = pd.DataFrame(profit2,columns=['Profit'])
gen2 = pd.DataFrame(gens,columns=['Genres'])

In [133]:
Movies_by_Samuel = pd.concat([mov2,prof2,gen2],axis=1)

In [134]:
#Top movies and Profit by samule
Movies_by_Samuel.sort_values('Profit',ascending=False).head()

                                      Movie_name      Profit           Genres
5                                   The Avengers  1299557910        Adventure
24                       Avengers: Age of Ultron  1125403694  Science Fiction
11                                 Jurassic Park   857100000  Science Fiction
3   Star Wars: Episode III - Revenge of the Sith   737000000           Action
15           Captain America: The Winter Soldier   544766572  Science Fiction

# Top 3 directors prefer which actors the most?

In [136]:
imdb_df_new.columns

Index(['budget', 'genres', 'imdb_id', 'original_language', 'original_title',
       'cast', 'crew', 'revenue', 'popularity', 'profit', 'ROI', 'Producers',
       'Directors'],
      dtype='object')

In [137]:
imdb_na_director = imdb_df_new[~imdb_df_new['crew'].isna()]

In [145]:
dirctor=imdb_na_director.explode('Directors')

In [146]:
dirctor = dirctor.groupby('Directors')['popularity'].mean().reset_index()

In [147]:
dirctor.sort_values('popularity',ascending=False).head(3)

         Directors  popularity
1889    Tim Miller  187.860492
789     James Gunn  119.311296
514   Edgar Wright  118.931563